body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.quote-header {
  color: #61dafb;
}

.quote-body {
  padding: 16px;
}

.quote-author {
  float: right;
}

.type-area {
  width: 50vw;
  font-size: 16px;
  padding: 8px;
}

/*************************
 * Margin Helpers
 *************************/

.mbm {
  margin-bottom: 8px;
}

.mbl {
  margin-bottom: 16px;
}

.mbxl {
  margin-bottom: 32px;
}
